* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background1 {
  height: 100vh;
  background-image: url(./img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
